#box div{
height: 100px;
width: 100px;
text-align: center;
line-height: 100px;

}
.bg-blue{
    background-color: rgb(144, 144, 226);
}

#box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: aqua;
}
.d-none{
    display: none;
}

footer{
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#responce, #container{
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 40px;
    color: white;
    background-color: black;
}